<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header th:fragment="header">
            <nav>
                <ul>
                    <li><a th:href="@{/categoria/listado}">Categoria</a></li>
                    <li><a th:href="@{/articulo/listado}">Articulo</a></li>
                </ul>
            </nav>
        </header>
    </body>
</html>
