html {
    box-sizing: border-box;
    font-family: "Krub", sans-serif;

}


body{
    background-color:#666666;
}
.header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 164px;
    background-color: #000000;
}
main{
    display:block;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
.camisa {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
}

img {
    width: 100%;
}
img {
    border-style: none;
}
p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}
.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.formulario__campo {
    
    background-color: transparent;
    color: #ffffff;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    appearance: none;
}

.formulario__submit {
    background-color: #ffffff;
    border: none;
    font-size: 2rem;
  
    padding: 2rem;
    transition: background-color .3s ease;
    grid-column: 1 / 3;
}
.formulario__submit input:hover {
 

  background-color: #FFFFFF;
  color: #ffff33; 
  
}
img{
    border-radius: 3%;
}
