<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Accesorios</title>
        <link href="CSS/Accesorios.css" rel="stylesheet">
        <meta charset="UTF-8">
    </head>
    <body>
            <header>
                <h1 th:text="#{Accesorios.titulo}">XXX</h1> 
            </header>

            <nav class="menu">
                <ul class="listanoordenada">
                    <li><a href="Gorra.html" th:text="#{Gorra.t}">Gorras</a></li>
                    <li><a href="Gafas.html" th:text="#{Gafas.t}">Anteojos</a></li>
                    <li><a href="Medias.html" th:text="#{Medias.t}">Medias</a></li>
                    <li><a href="Billeteras.html" th:text="#{Bille.t}">Billeteras</a></li>
                    <li><a href="Relojes.html" th:text="#{Reloj.t}">Relojes</a></li>
                </ul>
            </nav>

            <section class="contenido">
                <article class="art">
                    <header id="he" th:text="#{todo.t}">Todos los accesorios a buen precio</header>
                    <figure>
                        <img src="images/gorra.jpg" alt="Nike" width="200"><br>
                        <img src="images/basket.jpg" alt="Nike" width="200"><br>
                        <img src="images/medias.jpg" alt="Nike" width="200"><br>
                        <img src="images/reloj.jpg" alt="Nike" width="200">
                    </figure>
                </article>
                <video autoplay Muted loop>
                    <source src="video/recurso.mp4" type="video/mp4">
                </video>
            </section>
            <footer id="piepagina" th:text="#{puede.t}">
                Puede contactarnos al <address>Telefono 2255-6556</address>
            </footer>
    </body>
</html>
