<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Carrito de compra</title>
        <link href="CSS/Carrito.css" rel="stylesheet">
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="container">
            <header>
                <nav class="menu">
                    <ul id="aaa">
                        <li><a href="https://www.facebook.com/nike" target="_blank" th:text="#{join.t}">Unete a nosotros y siguenos</a></li>
                        <li><a href="Informacion.html" th:text="#{info.Tienda}">Informacion</a></li>
                        <li><a href="Login.html" th:text="#{Login.t}">Inicia sesion</a></li>
                    </ul>
                </nav>
            </header>

            <section>
                <nav class="bloque1">
                    <ul class="menu2">
                        <li><img src="images/cinta.png" height="200" width="200" th:text="#{Ofertas.Tienda}"></li> <!-- esto a futuro seram enlaces para ver lo que se ofrece y anadir al carro -->
                        <li><img src="images/descuentos.png" height="200" width="200" th:text="#{descu.t}"></li>
                        <li><img src="images/tarifa.png" height="200" width="200" th:text="#{Mem.t}"></li>
                    </ul>
                    <figure><img src="images/CarritoCompra.jpg"></figure>

                </nav>

                <div>
                    <p th:text="#{gg.t}">Manejamos cantidad de productos para satisfaccion de nuestros clientes</p>
                    <aside>
                        <p th:text="#{t.t}">Tenis</p>
                        <img src="images/111.jpg">
                        <img src="images/222.jpg">
                        <img src="images/333.jpg">
                        <img src="images/444.jpg">
                        <img src="images/555.jpg">   
                    </aside>
                    <aside>
                        <p th:text="#{Pant.t}">Pantalones</p>
                        <img src="images/666.jpg">
                        <img src="images/777.jpg">
                        <img src="images/888.jpg">
                        <img src="images/999.jpg">
                        <img src="images/pans.jpg">
                    </aside>
                    <aside>
                        <p th:text="#{c.c}">Camisas</p>
                        <img src="images/1010.jpg">
                        <img src="images/1111.jpg">
                        <img src="images/1212.jpg">
                        <img src="images/1313.jpg">
                        <img src="images/adan.jpg">
                    </aside>
                </div> 
            </section>
        </div>
    </body>
</html>
