<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="plantilla/template2::head">
        <title>Area Hombre</title>
        <link href="CSS/hombre.css" rel="stylesheet">
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace="plantilla/template2::header">
        </header> 
        <div id="izquierda">
            <blockquote>
                <div class="container mx-auto mt-4">
                    <div class="mx-auto" style="width:200px;">
                        <h3 th:text="#{t.t}">Tenis</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img src="images/niket1.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="#{t.t}">Tenis</h5>
                                    <p class="card-text" th:text="#{jor.nk}">Tenis nike Jordan.</p>
                                    <a href="#" class="btn mr-2" th:text="#{ver.t}"><i class="fas fa-link"></i> Ver mas </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img src="images/niket2.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="#{t.t}">Tenis</h5>
                                    <p class="card-text" th:text="#{air.nk}">Tenis nike Air Max</p>
                                    comment <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
                                    <a href="#" class="btn " th:text="#{ver.t}"><i class="fab fa-github"></i> Ver mas </a>
                                </div>
                            </div>
                        </div> <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img src="images/niket3.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="#{t.t}">Tenis</h5>
                                    <p class="card-text" th:text="#{air.nk}">Tenis nike air max.</p>
                                    <a href="#" class="btn mr-2"th:text="#{ver.t}"><i class="fas fa-link"></i> Ver mas </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img src="images/niket4.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="#{t.t}">Tenis</h5>
                                    <p class="card-text" th:text="#{sb.neg}">Tenis sb negras.</p>
                                    <a href="#" class="btn mr-2"th:text="#{ver.t}"><i class="fas fa-link"></i> Ver mas </a>
                                </div>
                            </div>
                        </div>
                    </div> <div class="mx-auto" style="width:200px;">
                        <h3 th:text="#{Gorra.t}">Gorra</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img src="images/nikeg1.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="#{Gorra.t}">Gorras</h5>
                                    <p class="card-text" th:text="#{gor.nikn}">Gorra nike negra clasico.</p>
                                    <a href="#" class="btn mr-2" th:text="#{ver.t}"><i class="fas fa-link"></i> Ver mas </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img src="images/nikeg2.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="#{Gorra.t}">Gorras</h5>
                                    <p class="card-text" th:text="#{gor.blue}">Gorra nike azul.</p>
                                    <a href="#" class="btn mr-2" th:text="#{ver.t}"><i class="fas fa-link"></i> Ver mas </a>
                                </div>
                            </div>
                        </div> <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img src="images/nikeg3.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="#{Gorra.t}">Gorras</h5>
                                    <p class="card-text" th:text="#{gor.negra}">Gorra nike negra.</p>
                                    <a href="#" class="btn mr-2" th:text="#{ver.t}"><i class="fas fa-link"></i> Ver mas </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img src="images/nikeg4.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="#{Gorra.t}">Gorras</h5>
                                    <p class="card-text" th:text="#{gor.roja}">Gorra nike roja con negro.</p>
                                    <a href="#" class="btn mr-2" th:text="#{ver.t}"><i class="fas fa-link"></i> Ver mas </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mx-auto" style="width:200px;">
                        <h3 th:text="#{sh.man}"> Short </h3>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img src="images/nikes1.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="#{sh.man}">Short </h5>
                                    <p class="card-text" th:text="#{sh.morado}">Short fusia.</p>
                                    <a href="#" class="btn btn-primary mr-2" th:text="#{ver.t}"><i class="fas fa-link"></i> Ver mas </a>
                                </div>
                            </div>
                        </div> <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img src="images/nikes2.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="#{sh.man}">Short </h5>
                                    <p class="card-text" th:text="#{sh.cafe}">Short cafe.</p>
                                    <a href="#" class="btn mr-2" th:text="#{ver.t}"><i class="fas fa-link"></i> Ver mas</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img src="images/nikes3.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="#{sh.man}">Short </h5>
                                    <p class="card-text" th:text="#{sh.beig}">Short beige.</p>
                                    <a href="#" class="btn mr-2" th:text="#{ver.t}"><i class="fas fa-link"></i> Ver mas </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img src="images/nikes4.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="#{sh.man}">Short </h5>
                                    <p class="card-text" th:text="#{sh.azul}">Short azul.</p>
                                    <a href="#" class="btn mr-2" th:text="#{ver.t}" ><i class="fas fa-link"></i> Ver mas</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mx-auto" style="width:200px;">
                        <h3 th:text="#{Pant.t}">Pantalones</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img src="images/nikep1.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="#{Pant.t}">Pantalones</h5>
                                    <p class="card-text" th:text="#{pant.negro}">Pantalon negro.</p>
                                    <a href="#" class="btn btn-primary mr-2" th:text="#{ver.t}"><i class="fas fa-link"></i> Ver mas</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img src="images/nikep2.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="#{Pant.t}">Pantalones</h5>
                                    <p class="card-text" th:text="#{pant.blac}">Pantalon blanco.</p>
                                    <a href="#" class="btn btn-primary mr-2" th:text="#{ver.t}"><i class="fas fa-link"></i> Ver mas </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img src="images/nikep3.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="#{Pant.t}">Pantalones</h5>
                                    <p class="card-text" th:text="#{pant.negro}">Pantalon negro.</p>
                                    <a href="#" class="btn btn-primary mr-2" th:text="#{ver.t}"><i class="fas fa-link"></i> Ver mas</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img src="images/nikep4.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="#{Pant.t}">Pantalones</h5>
                                    <p class="card-text" th:text="#{pant.cafe}">Pantalon cafe</p>
                                    <a href="#" class="btn btn-primary mr-2" th:text="#{ver.t}"><i class="fas fa-link"></i> Ver mas</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mx-auto" style="width:200px;">
                        <h3 th:text="#{coa.ab}">Abrigos</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img src="images/nikea1.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="#{coa.ab}">Abrigos</h5>
                                    <p class="card-text" th:text="#{coa.mix}">Abrigo blanco con negro.</p>
                                    <a href="#" class="btn btn-primary mr-2" th:text="#{ver.t}"><i class="fas fa-link"></i> Ver mas </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img src="images/nikea2.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="#{coa.ab}">Abrigos</h5>
                                    <p class="card-text" th:text="#{coa.whi}">Abrigo blanco.</p>
                                    <a href="#" class="btn btn-primary mr-2" th:text="#{ver.t}"><i class="fas fa-link"></i> Ver mas </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img src="images/nikea3.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="#{coa.ab}">Abrigos</h5>
                                    <p class="card-text" th:text="#{coa.sup}">Abrigo cafe supreme</p>
                                    <a href="#" class="btn btn-primary mr-2" th:text="#{ver.t}"><i class="fas fa-link"></i> Ver mas </a> </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img src="images/nikea4.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="#{coa.ab}">Abrigos</h5>
                                    <p class="card-text" th:text="#{coa.neg}" >Abrigo negro.</p>
                                    <a href="#" class="btn btn-primary mr-2" th:text="#{ver.t}"><i class="fas fa-link"></i> Ver mas</a>
                                </div>
                            </div>
                        </div>
                    </div>
            </blockquote>
        </div>
        <footer th:replace="plantilla/template::footer"></footer>
    </body>
</html>

