<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <link rel="stylesheet" href="css/casa.css">
    </head>
    <body>
        
      <header>
    <h1 class="titulo">Tienda nike
      <span>Online</span>
    </h1>
  </header>
        <div class="nav">
    <nav class="navegacion-principal contenedor">

      <a href="hombre.html">Hombre</a>
      <a href="mujer.html">Mujer</a>
      <a href="accesorios.html">Accesorios</a>
      <a href="carrito.html">Carrito</a>
      <a href="puntosCompra.html">Informacion</a>
      <a href="ofertas.html">Ofertas</a>
      <a href="../templates/Registrarse.html">Registrarse</a> <!-- verificar esto -->

    </nav>
  </div>
        <section class="principal">
            <div class="ubicaciones">
                <h2>Ubicaciones e informacion.</h2>
                 <p>  
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin" width="80" height="80"
        viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffec00" fill="none" stroke-linecap="round"
        stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <circle cx="12" cy="11" r="3" />
        <path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z" />
      </svg>
        
      </p>

      <a class="boton" href="">Contactar</a>
            </div>
        </section>
    </body>
    <footer class="pie-pagina">
      <p>Todos los derechos estan reservados por Nike</p>
    </footer>
</html>
