<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="plantilla/template4::head">
        <title>Area Mujer</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace="plantilla/template4::header">
        </header>
        <div id="izquierda">
            <blockquote>
                <div class="container mx-auto mt-4">
                    <div class="mx-auto" style="width:200px;">
                        <h3 th:text="#{bb.t}">Blusas</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img src="images/ca2.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="#{bb.t}">Blusas</h5>
                                    <p class="card-text" th:text="#{blue.t}">Blusa rayas negra.</p>
                                    <a href="#" class="btn mr-2" th:text="#{ver.t}"><i class="fas fa-link"></i> Ver mas </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img src="images/ca3.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="#{bb.t}">Blusas</h5>
                                    <p class="card-text" th:text="#{rose.b}">Blusa rosada.</p>
                                    <a href="#" class="btn mr-2" th:text="#{ver.t}"><i class="fas fa-link"></i> Ver mas </a>
                                </div>
                            </div>
                        </div>



                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img src="images/ca4.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="#{bb.t}">Blusas</h5>
                                    <p class="card-text" th:text="#{wh.b}">Blusa basica blanca..</p>
                                    <a href="#" class="btn mr-2" th:text="#{ver.t}"><i class="fas fa-link"></i> Ver mas </a>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="mx-auto" style="width:200px;">
                        <h3 th:text="#{traje.b}">Traje de baño</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img src="images/en1.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="#{traje.b}">Traje de baño</h5>
                                    <p class="card-text" th:text="#{traje.blu}">Traje de baño azules.</p>
                                    <a href="#" class="btn mr-2" th:text="#{ver.t}"><i class="fas fa-link"></i> Ver mas </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img src="images/en2.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="#{traje.b}">Traje de baño</h5>
                                    <p class="card-text" th:text="#{traje.flo}">Traje de baño flores.</p>
                                    <a href="#" class="btn mr-2" th:text="#{ver.t}"><i class="fas fa-link"></i> Ver mas </a>
                                </div>
                            </div>
                        </div>



                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img src="images/en3.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="#{traje.b}">Traje de baño</h5>
                                    <p class="card-text" th:text="#{traje.v}">Traje de baño verde.</p>
                                    <a href="#" class="btn mr-2" th:text="#{ver.t}"><i class="fas fa-link" ></i> Ver mas </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img src="images/en4.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="#{traje.b}">Traje de baño</h5>
                                    <p class="card-text" th:text="#{traje.bla}">Traje de baño negro.</p>
                                    <a href="#" class="btn mr-2" th:text="#{ver.t}"><i class="fas fa-link" ></i> Ver mas </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mx-auto" style="width:200px;">
                        <h3 th:text="#{Tenis.dep}">Tennis deportivas</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img src="images/te1.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="#{Tenis.dep}">Tennis deportivas</h5>
                                    <p class="card-text" th:tex="#{clas.t}">Tennis clasicas.</p>
                                    <a href="#" class="btn btn-primary mr-2" th:text="#{ver.t}"><i class="fas fa-link"></i> Ver mas </a>
                                </div>
                            </div>
                        </div>



                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img src="images/te2.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="#{Tenis.dep}">Tennis deportivas</h5>
                                    <p class="card-text" th:text="#{bl.tt}">Tennis negras.</p>
                                    <a href="#" class="btn mr-2" th:text="#{ver.t}"><i class="fas fa-link" ></i> Ver mas </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img src="images/te3.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="#{Tenis.dep}">Tennis deportivas</h5>
                                    <p class="card-text" th:text="#{ten.r}">Tennis rayadas.</p>
                                    <a href="#" class="btn mr-2" th:text="#{ver.t}"><i class="fas fa-link"></i> Ver mas </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <!-- comment <img src="images/te4.jpg"" class="card-img-top" alt="...">--> <!-- Esto me da error me sale incompleto --> <!-- creo que es por la imagen -->
                                <div class="card-body">
                                    <h5 class="card-title" th:text="#{Tenis.dep}">Tennis deportivas</h5>
                                    <p class="card-text" th:text="#{ten.nne}">Tennis blancas.</p>
                                    <a href="#" class="btn mr-2" th:text="#{ver.t}"><i class="fas fa-link" ></i> Ver mas </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mx-auto" style="width:200px;">
                        <h3 th:text="#{Pant.t}">Pantalones</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img src="images/pa1.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="#{Pant.t}">Pantalones</h5>
                                    <p class="card-text" th:text="#{p.rr}" >Pantalon rojo.</p>
                                    <a href="#" class="btn btn-primary mr-2" th:text="#{ver.t}"><i class="fas fa-link"></i> Ver mas </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img src="images/pa2.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="#{Pant.t}">Pantalones</h5>
                                    <p class="card-text" th:text="#{p.nnn}">Pantalon anaranjado.</p>
                                    <a href="#" class="btn btn-primary mr-2" th:text="#{ver.t}"><i class="fas fa-link"></i> Ver mas</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img src="images/pa3.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="#{Pant.t}">Pantalones</h5>
                                    <p class="card-text" th:text="#{p.ggj}">Pantalon gris.</p>
                                    <a href="#" class="btn btn-primary mr-2" th:text="#{ver.t}"><i class="fas fa-link"></i> Ver mas </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img src="images/pa4.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="#{Pant.t}">Pantalones</h5>
                                    <p class="card-text" th:text="#{p.amar}">Pantalon amarrillo.</p>
                                    <a href="#" class="btn btn-primary mr-2" th:text="#{ver.t}"><i class="fas fa-link"></i> Ver mas </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mx-auto" style="width:200px;">
                        <h3 th:text="#{vesti.ggg}">Vestidos</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img src="images/ve11.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="#{vesti.ggg}">Vestidos</h5>
                                    <p class="card-text" th:text="#{ver.v}">Vestido verde</p>
                                    <a href="#" class="btn btn-primary mr-2" th:text="#{ver.t}"><i class="fas fa-link"></i> Ver mas </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img src="images/ve12.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="#{vesti.ggg}">Vestidos</h5>
                                    <p class="card-text" th:text="#{ver.r}">Vestido Rosado</p>
                                    <a href="#" class="btn btn-primary mr-2" th:text="#{ver.t}"><i class="fas fa-link"></i> Ver mas </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img src="images/ve13.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="#{vesti.ggg}">Vestidos</h5>

                                    <p class="card-text" th:text="#{ver.b}">Vestido negro</p>
                                    <a href="#" class="btn btn-primary mr-2" th:text="#{ver.t}"><i class="fas fa-link"></i> Ver mas </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img src="images/pa4.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="#{vesti.ggg}">Vestidos</h5>
                                    <p class="card-text" th:text="#{ver.am}"> Vestido amarrillo </p>
                                    <a href="#" class="btn btn-primary mr-2" th:text="#{ver.t}"><i class="fas fa-link"></i> Ver mas </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mx-auto" style="width:200px;">
                        <h3 th:text="#{Cort.sh}">Short Deportivos</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img src="images/sh1.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="#{Cort.sh}">Cortos Deportivos</h5>
                                    <p class="card-text" th:text="#{mor.pla}"> Short lila </p>
                                    <a href="#" class="btn btn-primary mr-2" th:text="#{ver.t}"><i class="fas fa-link"></i> Ver mas </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img src="images/sh2.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="#{Cort.sh}">Short Deportivos</h5>
                                    <p class="card-text" th:text="#{bluie.shj}"> Short azul </p>
                                    <a href="#" class="btn btn-primary mr-2" th:text="#{ver.t}"><i class="fas fa-link"></i> Ver mas </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img src="images/sh3.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="#{Cort.sh}">Short Deportivos</h5>
                                    <p class="card-text" th:text="#{sh.neg}"> Short negro </p>
                                    <a href="#" class="btn btn-primary mr-2" th:text="#{ver.t}"><i class="fas fa-link"></i> Ver mas</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img src="images/sh4.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="#{Cort.sh}">Short Deportivos</h5>

                                    <p class="card-text" th:text="#{sh.neg}">Short deportivo negro </p>
                                    <a href="#" class="btn btn-primary mr-2" th:text="#{ver.t}"><i class="fas fa-link"></i> Ver mas </a>
                                </div>
                            </div>
                        </div>
                    </div>



            </blockquote><!-- comment -->
        </div>
                <footer th:replace="plantilla/template4::footer"></footer>
    </body>
</html>
