<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="plantilla/template::head">
        <title>TODO supply a title</title> 
    </head>
    <body>
        <header th:replace="plantilla/template::header"></header>
        <div class="header">
            <a href="index.html">
                <img class="logo" src="images/arriba.jpg" alt="Logotipo">
            </a>
        </div>
        <main class="contenedor">
            <h1 th:text="#{espe.of}">
                Ofertas especiales.
            </h1>
            <div class="ofertas"> 
                <div class="ofertas__contenido">
                    <p>
                        Nam nec metus a risus auctor congue nec non felis. Donec eu diam facilisis, semper nisl sed, ultricies ligula. Duis convallis tortor eu mi interdum feugiat. Pellentesque diam dolor, dignissim sit amet metus vitae, viverra dapibus odio. Mauris lobortis odio nisi, ut pulvinar nisl accumsan non. Aliquam vitae diam elementum ipsum gravida mattis. Nulla facilisi. Etiam eu urna at arcu dignissim tempor. Vestibulum ultrices ex ante, quis gravida metus vehicula nec. Donec interdum ultricies diam, congue dictum libero auctor quis. 
                    </p>
                    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin porta pretium felis, ac semper nulla pellentesque sed. Morbi condimentum mauris orci. In blandit et dolor vel consequat. Cras urna odio, euismod sit amet mauris a, varius dignissim neque.</p>
                </div>

                <img  src="images/ofer.jpg" alt="imagen nike">
            </div>
        </main>
        <section class="beneficios">

            <h2 th:text="#{WHY.US}">¿Porqué Comprar con nosotros?</h2>

            <div class="bloques">
                <div class="bloque">

                    <h3 class="bloque__titulo" TH:TEXT="#{BES.P}">El Mejor Precio</h3>
                    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin porta pretium felis</p>
                </div> 


                <div class="bloque">
                    <img class="bloque__imagen" src="images/icono_3.png" alt="porque comprar">
                    <h3 class="bloque__titulo" th:text="#{free.f}">Envío Gratis</h3>
                    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin porta pretium felis</p>
                </div> 

                <div class="bloque">
                    <img class="bloque__imagen" src="images/icono_4.png" alt="porque comprar">
                    <h3 class="bloque__titulo" th:text="#{cal.ca}">La Mejor Calidad</h3>
                    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin porta pretium felis</p>
                </div> 
            </div>
        </section>
        <footer th:replace="plantilla/template2::footer"></footer>
    </body>
</html>
