<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">

    </head>
    <body>
        

        <form th:object = "${usuario}"
              th:action="@{/save}"
              method="POST">
            <input type="hidden" th:field="*{id}">
            <div>
                <label for="nombre">Nombre</label>
                <input type="text" th:field="*{nombre}"  placeholder= "Nombre Usuario" id="nombres" aria-describedby="emailHelp">
            </div>
            <div>
                <label for="pripellido">Primer Apellido</label>
                <input type="text" th:field="*{pripellido}"  placeholder= "Primer Apellido Usuario" id="pripellido" aria-describedby="emailHelp">
            </div>
            <div>
                <label for="segpellido">Segundo Apellido</label>
                <input type="text" th:field="*{segpellido}"  placeholder= "Segundo Apellido Usuario" id="segpellido" aria-describedby="emailHelp">
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" th:field="*{email}"  placeholder= "Email Usuario" id="email" aria-describedby="emailHelp">
            </div>
            <div>
                <label for="Telfono">Telefono</label>
                <input type="text" th:field="*{telefono}"  placeholder= "Telefono Usuario" id="telefono" aria-describedby="emailHelp">
            </div>
            <button type="submit" value="Guardar">Crear Usuario</button>
        </form>
    </body>
</html>
