<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="plantilla/template8::head">
        <title>Registrarse</title>
    </head>
    <body>
        <header th:replace="plantilla/template8::header"></header>
        <form th:object = "${usuario}"
              th:action="@{/save}"
              method="POST">
            <input type="hidden" th:field="*{id}">
            <div>
                <!-- comment <label for="nombre">Nombre</label>--> <!-- prueba por eso lo comente xd -->
                <label for="nombre" th:text="#{nombre.cliente}">Nombre</label>
                <input type="text" th:field="*{nombre}"  placeholder= "" id="nombres" aria-describedby="emailHelp" required>
            </div>
            <div>
                <label for="pripellido" th:text="#{primerApe.cliente}">Primer Apellido</label>
                <input type="text" th:field="*{pripellido}"  placeholder= "" id="pripellido" aria-describedby="emailHelp" required>
            </div>
            <div>
                <label for="segpellido" th:text="#{seg.apellido}">Segundo Apellido</label>
                <input type="text" th:field="*{segpellido}"  placeholder= "" id="segpellido" aria-describedby="emailHelp" required>
            </div>
            <div>
                <label for="email" th:text="#{email.clie}">Email</label>
                <input type="email" th:field="*{email}"  placeholder= "" id="email" aria-describedby="emailHelp" required>
            </div>
            <div>
                <label for="Telfono" th:text="#{Telefono.clien}">Telefono</label>
                <input type="text" th:field="*{telefono}"  placeholder= "" id="telefono" aria-describedby="emailHelp" required>
            </div>
            <div>
                <label for="pais">Pais</label>
                <select th:field="*{pais}">
                    <option th:each="x:${paises}"
                            th:value="${x.id}"
                            th:text="${x.pais}"> 
                    </option>
                </select>
            </div>
            <button type="submit" value="Guardar" th:text="#{Crear.usuario}">Crear Usuario</button>
        </form>
    </body>
</html>
