<!DOCTYPE html >

<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="plantilla/template9::head">
        <title>TODO supply a title</title> 
    </head>
    <body>
        <header th:replace="plantilla/template9::header"></header>
        <table>
            <thead>
                <tr>
                    <!-- comment <th scope="col">Nombre </th>--> <!-- comente debido a que hice preuba a ver si me funcionaba y pues si xd -->
                    <th scope="col" th:text="#{nombre.cliente}" >Nombre</th>
                    <th scope="col" th:text="#{primerApe.cliente}">Primer Apellido</th>
                    <th scope="col" th:text="#{seg.apellido}">Segundo Apellido</th>
                    <th scope="col" th:text="#{email.clie}">Email </th>
                    <th scope="col" th:text="#{Telefono.clien}">Telefono </th>
                    <th scope="col" th:text="#{Eliminar.clien}">Eliminar </th>
                    <th scope="col" th:text="#{Editar.clien}">Editar </th>
                </tr>
            </thead>
            <tbody>
                <!-- comment<h1 th:text="${titulo}"></h1>-->
            <h1 th:text="#{clientes.principal}"></h1> <!-- aqui si me sirve y ese es de preuba -->

            <th:block th:each="user : ${usuario}">
                <tr>
                    <td th:text="${user.getNombre}"></td>
                    <td th:text="${user.getPripellido}"></td>
                    <td th:text="${user.getSegpellido}"></td>
                    <td th:text="${user.getEmail}"></td>
                    <td th:text="${user.getTelefono}"></td>
                    <!-- Anadi esto --><td th:text="${#numbers.formatDecimal(user.getCredito.limite,3,2)}">Credito</td> <!-- meterle i18n a esto -->
                    <td>
                        <a th:href="@{/delete/{id}(id=${user.getId})}">Eliminar</a>
                    </td>
                    <td>
                        <a th:href="@{/editUsuario/{id}(id=${user.getId})}">Editar</a>
                    </td>
                </tr>
            </th:block>
        </tbody>
    </table>
        <footer><footer id="piepagina" th:text="#{dere.Nike}" th:replace="plantilla/template9::footer">
            </footer>
</body>
</html>
